<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campo Minado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h1>Campo Minado</h1>

        <!-- Adicionando o div para armazenar os dados de colunas e linhas -->
        <div id="campo" data-colunas="{{ colunas }}" data-linhas="{{ linhas }}">
            <div class="campo">
                {% for i in range(linhas) %}
                    {% for j in range(colunas) %}
                        <div class="celula X" id="celula_{{ i }}_{{ j }}" onclick="clicar({{ i }}, {{ j }})">
                            X
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
